/* styles.css */

/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 700px;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3;
}

/* Login Styles */
.logindiv {
    display: flex;
    flex-direction: column;
}

/* Dashboard Styles */
.dashboardbutton {
    margin-top: 20px;
}
