.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 20px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.inputField {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  background-color: #fff;
}

.submitButton {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: #0099ff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #0077cc;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap to the next line when there's no space */
  gap: 20px; /* Space between cards */
}

.card {
  flex: 1;
  max-width: 700px;
  padding: 20px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1); /* Slight shadow for depth */
}

.cardTitle {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 10px;
}

.cardContent {
  font-size: 1rem;
  color: #666;
}